/* Lines that don't have data-focus inside  */
pre:has([data-focus]) [data-line]:not(:has([data-focus])),
/* spans in lines that have inline data-focus but aren't inside the data-focus */
pre:has([data-focus])
  [data-line]:has(span[data-focus])
  :not([data-focus], [data-focus] > span) {
  opacity: 0.3 !important;
}

section[data-selected] {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

section[data-selected="false"] {
  opacity: 0.1;
}
